[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-db = "*"
requests = "*"
flask-httpauth = "*"

[dev-packages]
